{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">	
		<main class="mdl-layout__content">
		<div class="mdl-grid">
         		<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
         		<div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

         		<div>		
					<h2> Are you sure you want to delete <i>"{{ item.name }}"</i> ? </h2>
				</div>

				<div class="row">
					<form action="#" method = 'post'>
						<button type="submit" class="btn btn-default delete mdl-button mdl-js-button mdl-button--colored" id="submit" type="submit">
							<i class="material-icons" aria-hidden="true">delete</i>Delete
						</button>
						
						<a href = '{{url_for('showCities')}}'>
							<button class="btn btn-default cancel mdl-button mdl-js-button mdl-button--colored">
								<i class="material-icons" aria-hidden="true">clear</i>Cancel
							</button>
						</a>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
