{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<style>
.demo-card-event.mdl-card {
  width: 512px;
  background: #FFFFFF;
}
.demo-card-event > .mdl-card__actions {
  border-color: #B6B6B6;
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
  color: #388E3C;
  font-weight: 500;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #536DFE;
}
</style>

<div class="mdl-layout__content mdl-color-text--grey-700">
<div class="mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  </br></br>  
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <!-- Display Event details -->
            <div class="mdl-grid">
            <div class="demo-card-event mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
              
              <div class="mdl-card__title mdl-card--expand">
                <h4 class="mdl-card__title-text">{{event.name}}</h4>
              </div>
              
              <div class="mdl-card__supporting-text">
                {{event.description}}
                <div>
                  Location: {{event.city.name}} | Date: {{event.event_date}}
                </div>
              </div>
               
              <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-button mdl-button--colored">View Event Site</a>
                <!-- Show Edit and Delete buttons if logged in --> 
                {%if 'username' in session %} 
                <div class="mdl-layout-spacer"></div>
                  <a href="{{url_for('editEvent', event_id=event.id)}}" class="mdl-button mdl-js-button mdl-button--colored" id="edit-event">
                    <i class="material-icons" aria-hidden="true">edit</i>
                  </a>
                  <a href="{{url_for('deleteEvent', event_id=event.id)}}" class="mdl-button mdl-js-button mdl-button--colored" id="delete-event">
                    <i class="material-icons" aria-hidden="true">delete</i>
                  </a>
                  {% endif %}
              </div> 
              

              <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--colored mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons">share</i>
                </button>
              </div>

            </div>
          </div> 
       </section> 
    </div>
</div>
    
{% endblock %}