{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<style>
.demo-card-wide.mdl-card {
  width: 312px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#view-source {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}
</style>

<div id="flashmessage" class = "flash">
      {% with messages = get_flashed_messages() %}
        {% if messages %}

        <ul>
          {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- Timeout flash message -->
        <script>$('#flashmessage').fadeOut(3000);</script>
    </div>

<div class="mdl-layout__content mdl-color-text--grey-700">
<div class="mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  </br></br></br></br>    

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone">
      <h3>Locations</h3>
      {% for city in cities %}
      <a href = "{{url_for('showEvent', city_id = city.id)}}">
        <h4>{{city.name}}, {{city.state}}</h4>
      </a>
      {% endfor %}
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h3>Events in {{city.name}} ({{eventCountByCity}} events)</h3>
        {% for event in events %}
        <a href = "{{url_for('showEventDetails', city_id = city.id, event_id=event.id)}}">
          <h4>{{event.name}}</h4>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}